

<div class="container">
  <div *ngFor="let product of devices;">
    <div class="card-body">
     <div class="row">
      <div class="col-1">
        <div class="card-indicator" ></div>
      </div>
        <div class="col-8">
          <p class="card-title">{{ product.name }}</p>    
          <p class="card-text">{{ product.status }}</p>
        </div>
      </div>      
    </div>
  </div>
    <div id="wrapper">
    <button type="button" class="btn btn-primary" href="">Zeskanuj kod QR</button>
    <a [routerLink]="['/confirmation']" class="bottom-link" > Zgłoś wolną pralkę </a>
    </div>
</div>



 
