
.card-body{
  box-shadow: 0px 5px 10px #9898981A;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color:white;
  min-height:88px;
  max-width:312px;
  padding: 16px !important;
  margin-left:auto;
  margin-right:auto;
}



.card-indicator{
  width:10px;
  height:56px;
  margin-right:0px;
  background-color:red;
  display:block;
  border-radius: 12px;
}

.card-title{
  font-family: Futura PT;
  font-weight:500;
  font-size:23px;
  line-height: 1.5em;
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
  margin-top:-3px;
  display:block;
  margin-bottom:0px;

}

.card-text{
  font-family: Open Sans;
  font-weight:400;
  font-size:15px;
  line-height:1.5em;
  letter-spacing: 0;
  color: #484848;
  display:block;
  
}
