  <div class="infocard-body">
    <div class="row">
  
      <div class="col-12">
        <h1 style="text-align:center; margin-bottom:18px;">Czy na pewno
chcesz zgłosić tą pralkę
jako wolną?</h1>    
        <p style="text-align:center;">Zrób to tylko jeśli pralka <br>
faktycznie jest wolna. W innym
przypadku RM Cię dojedzie.</p>
      </div>
      
      <div class ="col-6" style="text-align:center; margin-top:15px;">
      <button type="button" style="padding: 0 35px;" class="btn-light" [routerLink]="['/']">Nope</button>
      </div>
      
    <div class ="col-6" style="text-align:center; margin-top:15px;">
      <button type="button" style="padding: 0 40px;"class="btn" [routerLink]="['/released']">Tak</button>
      </div>
    </div>      
