  <div class="infocard-body">
    <div class="row">
  
      <div class="col-12">
        <h1 style="text-align:center; margin: 15px 0px;">Czy na pewno
chcesz zgłosić tą pralkę
jako wolną?</h1>    
        <p style="text-align:center;">Zrób to tylko jeśli pralka <br>
faktycznie jest wolna. W innym
przypadku RM Cię dojedzie.</p>
      </div>
      
      <div class ="col-2" style="text-align:center; margin: 20px 0px;">
      <button type="button" class="btn" [routerLink]="['/']">Nope</button>
      </div>
    </div>      
