  <div class="infocard-body">
    <div class="row">
  
      <div class="col-12">
        <h1 style="text-align:center; margin-bottom:16px;">Ta pralka jest już zajeta!</h1>    
        <p style="text-align:center;">Poczekaj aż pralka się zwolni i
spróbuj ponownie.</p>
      </div>
      
      <div class ="col-12" style="text-align:center; margin: 20px 0px;">
      <button type="button" class="btn" [routerLink]="['/']">Ok idę na piwo</button>
      </div>
      <div class ="col-12" style="text-align:center;">
      <a class="bottom-link" [routerLink]="['/confirmation']" >Zgłoś wolną pralkę</a>
      </div>
    </div>      
