  <div class="infocard-body">
    <div class="row">
  
      <div class="col-12">
        <h1 style="text-align:center; margin: 15px 0px;">Ta pralka jest już zajeta!</h1>    
        <p style="text-align:center;">Poczekaj aż pralka się zwolni i <br>
spróbuj ponownie.</p>
        

      </div>
      <div class ="col-12" style="text-align:center; margin: 20px 0px;">
      <button type="button" class="btn btn-primary" [routerLink]="['/']">Ok idę na piwo</button>
      </div>
      <div class ="col-12" style="text-align:center; margin: 0px 0px;">
      <p class="bottom-link">Zgłoś wolną pralkę</p>
      </div>
    </div>      
