  <div class="infocard-body">
    <div class="row">
  
      <div class="col-12">
        <h1 style="text-align:center; margin-bottom:18px;">Pralka została
zwolniona!</h1>    
        <p style="text-align:center;">Wracasz do podglądu pralek
czy od razu wstawiasz w tej
pralce swoje pranie?
</p>
      </div>
      
      <div class ="col-5" style="text-align:center; margin-top:15px;">
      <button type="button" style="padding: 0 15px;" class="btn-light" [routerLink]="['/']">Wracam</button>
      </div>
      
    <div class ="col-7" style="text-align:center; margin-top:15px;">
      <button type="button" style="padding: 0 15px;"class="btn" [routerLink]="['/timer']">Robię pranie</button>
      </div>
    </div>      
