/*** space for customising bootstrap styles ***/

body{
background-color:#F9F3EE;
}

.container {
  padding-right: 24px;
  padding-left: 24px;
}

.contaier-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important; 
}

.btn{
  position:absolute;
  bottom:56px;
  font-family: Futura PT;
  font-weight:500;
  font-size:20px;
  line-height: 1.5em;
  letter-spacing: 0;
  height:48px;
  padding-left:42px;
  padding-right:42px;
  box-shadow: 0px 8px 20px #FF660080;
  border-radius: 32px;
  background-color: #E55900;
  color:white;
  border:none;

}

.btn:hover{
  background-color:rgb(248, 123, 45);

}

#wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.bottom-link{
  position:absolute;
  bottom:22px;
  text-decoration: underline;
  font-family:Open Sans;
  font-weight: 400;
  font-size:14px;
  line-height: 1.5em;
  letter-spacing: 0;
  color: #484848;

}

