/*** space for customising bootstrap styles ***/

body{
background-color:#F9F3EE;
}

p {
  font-family: Open Sans;
  font-weight:400;
  font-size:15px;
  line-height:1.5em ;
  letter-spacing: 0;
  color: #484848;

}

h1{
  font-family: Futura PT;
  font-weight:500;
  font-size:25px;
  line-height: 1.4em;
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
  margin-top:-3px;
  display:block;

}

h2{
  font-family: Futura PT;
  font-weight:500;
  font-size:23px;
  line-height: 1.5em;
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
  margin-top:-3px;
  display:block;
}

.timer {
  font-family: Futura PT;
  font-weight:500;
  font-size:40px;
  line-height: 1.5em;
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
  margin-top:-3px;
  display:block;

}

.container {
  padding-right: 24px;
  padding-left: 24px;
  padding-top:32px;
  padding-bottom:32px;
  height: calc(100vh - 64px);
}

#wrapper{
  display: flex;
  justify-content: center;
}


.contaier-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important; 
}

.btn{
  position:relative;
  font-family: Futura PT;
  font-weight:500;
  font-size:20px;
  line-height: 1.5em;
  letter-spacing: 0;
  height:48px;
  padding-left:42px;
  padding-right:42px;
  box-shadow: 0px 8px 20px #FF660080;
  border-radius: 32px;
  background-color: #E55900;
  color:white;
  border:none;
}

.btn-bot{
  position:absolute;
  bottom:32px;
  font-family: Futura PT;
  font-weight:500;
  font-size:20px;
  line-height: 1.5em;
  letter-spacing: 0;
  height:48px;
  padding-left:42px;
  padding-right:42px;
  box-shadow: 0px 8px 20px #FF660080;
  border-radius: 32px;
  background-color: #E55900;
  color:white;
  border:none;
}

.btn-bot:hover{
  background-color:rgb(248, 123, 45);

}


.btn:hover{
  background-color:rgb(248, 123, 45);
  color:white;
}

.btn:active{
  background-color:rgb(248, 123, 45);

}

.btn-bot:active{
  background-color:rgb(248, 123, 45);

}


.bottom-link{
  position:relative;
  text-decoration: underline;
  font-family:Open Sans;
  font-weight: 400;
  font-size:14px;
  line-height: 1.5em;
  letter-spacing: 0;
  color: #484848;

}


.infocard-body{
  box-shadow: 0px 5px 10px #9898981A;
  border-radius: 15px;
  background-color:white;
  min-height:88px;
  max-width:312px;
  padding: 32px !important;
  margin-left:auto;
  margin-right:auto;
  margin-top:22vh;
  
}

